{% extends '@Dashboard/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

    	.btn-file {
    	    position: relative;
    	    overflow: hidden;
    	}
    	.btn-file input[type=file] {
    	    position: absolute;
    	    top: 0;
    	    right: 0;
    	    min-width: 100%;
    	    min-height: 100%;
    	    font-size: 999px;
    	    text-align: right;
    	    filter: alpha(opacity=0);
    	    opacity: 0;
    	    background: red;
    	    cursor: inherit;
    	    display: block;
    	}

        .profile {
            padding-top: 40px;
            padding-left: 40px;
        }

        .profile-buttons {
            padding-top: 50px;
        }

    </style>
{% endblock %}

{% block wrapper %}

    {{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="row profile">
            <div class="col-md-1">
                <p>Username: {{ app.user.username }}</p>

                <p>
                {% if app.user.profile.image is not null %}
                    <img src="{{ app.user.profile.image.webPath }}" width="120px" height="170px"/>
                {% endif %}
                </p>
            </div>

    		<div class="col-md-1 profile-buttons">
                <div class="form-horizontal">
        			<div class="form-group">
        			    <div class="col-md-offset-2 col-md-2 ">
        			    	<span class="btn btn-success btn-file">
        			    	<i class="glyphicon glyphicon-plus"></i>
        			        	{{ form_row(form.image.file) }}
        			        <span>
        			    </div>
        			</div>

        			<div class="form-group">
        			    <div class="col-md-offset-2 col-md-10">
        			      {{ form_row(form.update) }}
        			    </div>
        			</div>
        		</div>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
